/* main section */

.img-main {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../../../assets/images/wall.jpg');
  width: 100%;
  background-origin: top left;
  height: 185vh !important;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.content-main {
  padding-left: 80px;
  width: 100%;
  margin-top: 100px;

}

.text-main {
  font-size: 100px;
  color: #FFC914;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 150px;
  font-family: 'Concert One', cursive;
  letter-spacing: 10px;
}

.para-main {
  color: white;
  font-size: 50px;
}

.para-main p {
  color: white;
  font-size: 30px;
}

.btn-offer {
  background-color: #FFC914;
  color: #110F10;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  border: none !important;
  min-width: 100%;

}

.btn-offer:hover {
  background-color: #110F10;
  color: white;
}



.trash {
  color: rgb(209, 91, 71);
}

.flag {
  color: rgb(248, 148, 6);
}

.panel-body {
  padding: 0px;
}

.panel-footer .pagination {
  margin: 0;
}

.panel .glyphicon,
.list-group-item .glyphicon {
  margin-right: 5px;
}

.panel-body .radio,
.checkbox {
  display: inline-block;
  margin: 0px;
}

.panel-body input[type=checkbox]:checked+label {
  text-decoration: line-through;
  color: rgb(128, 144, 160);
}

.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}

.list-group {
  margin-bottom: 0px;
}

.modal {
  position: absolute !important;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.container {
  margin: 0px 40px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

form.normal-form {
  margin: 10px;
}

.controles-container {
  width: 100%;
  padding: 5%;
}

.controles-container>* {
  width: 100%;
}

.add-bottom-padding {
  padding-bottom: 10px;
}

/* radio group */
mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-row button {
  margin: 5px;
}

/* notification */
snack-bar-container.success {
  background-color: #5cb85c;
  color: #fff;
}


snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}


.hide {
  display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

/* filter controls */
.search-div {
  margin: 10px;
}

.search-form-field {
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

.mat-elevation-z8 {
  background-color: antiquewhite;
}

.back {
  position: relative;
  top: 10px;
  left: 320px;;
  font-size: 40px;
  padding: 15px;
  color: whitesmoke;
  font-style: italic;
}
