<!-- all-users works!
</p>
<p>This page can only be accessed by administrators.</p>
<div>
  <ul>
    <li *ngFor="let user of users">{{user.username}}</li>
  </ul>
</div> -->

<!-- main section -->
<section id="main">
  <div class="container-fluid">
    <div class="row">
      <div class="img-main img-fluid">
        <div class="content-main">
          <div class="text-main col-12 wow bounceInDown" data-wow-duration="3s">
            Administrators System Management
          </div>

          <div class="col-12 para-main wow bounceInDown " data-wow-duration="2s" data-wow-delay="3s">
            All Users Records

          </div>

        </div>


        <div class="search-div mx-5">

          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div [hidden]="loading" class="mat-elevation-z8 mx-5 mb-5">
          <div [hidden]="loading">

            <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="contact">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Conatct</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.contact}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.city}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button (click)="onEdit(row)">
                    <mat-icon>launch</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="onDelete(row.id)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading Data..
                </mat-footer-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':users!=null}"></mat-footer-row>
            </mat-table>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- main section ends-->
