
<div class="container-fluid">
  <div class="img-reset">

    <div class="row mt-3">
      <!-- <div class="ml-5 alert alert-info p-2 mb-2">
        <strong>Normal User</strong> - Enter correct username and password<br />
        <strong>Administrator</strong> - U: admin P: admin
      </div> -->
      <div class="col-md-12">

        <div class="d-flex justify-content-start ml-5 h-100">
          <div class="card">
            <div class="card-header">
              <h2>Reset Your Password</h2>
            </div>
            <div class="card-body text-white">
              <p>If Your account is in our system ,
                 We emailed you a link to reset password, Please check your Email..</p>
            </div>
            <div class="card-footer">
              <button [disabled]="loading" class="btn reset_btn mb-2" routerLink="/login">Return to Sign In</button>

            </div>