/*yelllow #FFC914*/
/* whitesmoke */
/* black #110F10 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Prompt', sans-serif;
    overflow: hidden ;
  
  
  }
  /* html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  } */
  
  .navbar {
    background-color: rgb(8, 8, 8) !important;
    color: white;
    padding: 10px;
    padding-left: 100px;
    padding-right: 70px;
  }
  
  .navbar ul li .nav-link {
    color: white !important;
    padding-right: 80px;
    font-size: 20px;
    position: relative;
  }
  
  
  .nav-link:hover {
   
    border-top: #FFC914 5px solid;
  }
  
  
  
  .navbar img {
    width: 50px;
    height: 40px;
    margin: 10px !important;
    padding: 2px !important;
  }
  
  .navbar-phone {
    padding: 10px;
    font-size: 12px;
    background-color: rgb(30, 30, 31);
    letter-spacing: 5px;
    margin: 10px 20px;
    display: inline;
  }
  .small:hover{
      cursor: pointer;
      text-decoration: underline;
  }
  
  .navbar .offer {
    background-color: #FFC914;
    color: #110F10;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 0 20px;
    text-transform: uppercase;
    border-radius: 0;
  
  }
  
  .navbar .offer:hover {
    background-color: whitesmoke;
    color: #110F10;
    border: #FFC914 solid 2px;
  }
  
  #navbar-admin .small{
    line-height: 30px;
  }
  
  .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    min-width: 100%;
    margin-bottom: 50px;
  
  }

   /* main section */
  
   .img-main {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../../assets/images/admin.png');
    width: 100%;
    background-origin:  top left;
    height: 85vh !important;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  .content-main {
    padding-left: 80px;
    width: 100%;
    margin-top: 100px;
  
  }
  
  .text-main {
    font-size: 100px;
    color: #FFC914;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 150px;
    font-family: 'Concert One', cursive;
    letter-spacing: 10px;
  }
  
  .para-main {
    color: white;
    font-size: 50px;
  }
  
  .para-main p {
    color: white;
    font-size: 30px;
  }
  
  .btn-offer {
    background-color: #FFC914;
    color: #110F10;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border: none !important;
    min-width: 100%;
  
  }
  
  .btn-offer:hover {
    background-color: #110F10;
    color: white;
  }
  