<section id="navbar-faith">
  <div class="container-fluid m-0 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top " #stickyMenu [class.sticky]="sticky">
      <a class="navbar-brand" routerLink=""  routerLinkActive="active">
        <img src="../assets/images/logo1.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item  active">
            <a class="nav-link  text-center p-4 mx-auto" routerLink="/work">How it works <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-center p-4 mx-auto" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-center p-4 mx-auto" routerLink="/testimonials">Testimonials</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  text-center p-4 mx-auto " routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  text-center p-4 mx-auto " routerLink="/admin" *ngIf="isAdmin">
             Admin Dashboard</a>
         </li>
          
          <li class="nav-item">
            <a class="nav-link  text-center p-4 mx-auto" (click)="logout()">logout</a>
          </li>
         
        </ul>

      </div>

      <span class="navbar-phone ">
        <i class="fas fa-phone-alt text-white "></i> +6 11978970
      </span>
      <div class="align-items-center ">
        <span class="small"><i class="fas fa-map-marker-alt pr-1 text-warning"></i>Located in Goshen,
          Indiana</span><br>
        <a class="offer btn btn-link d-inline" href="#">
          GET My Cash OFFER
        </a>
      </div>
    </nav>

  </div>




</section>

<!-- main section -->
<section id="contact-section">
  <div class="container-fluid">
    <div class="img-testimonials text-center">
      <div class=" text-center text-white">
        <hr class="hr">
        <p class="">CUSTOMER REVIEWS
        </p>
        <h1 class="display-2 font-weight-bolder testimonials-header text-center text-uppercase">
          TESTIMONIALS

        </h1>
        <div class="text-warning">
          <i class="fas fa-star fa-3x"></i>
          <i class="fas fa-star fa-3x"></i>
          <i class="fas fa-star fa-3x"></i>
          <i class="fas fa-star fa-3x"></i>
          <i class="fas fa-star fa-3x"></i>

        </div>
      </div>

    </div>
  </div>
</section>


<!-- main section ends-->

<!-- review section -->
<section id="review">
  <div class="container-fluid offset-2 mt-5">
    <div class="row mx-5 mt-4 d-flex justify-content-between">
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">Everything went well - there were no problems. I would definitely recommend Good Faith
          Management.
          It was a smooth transaction
          and I've already recommended others to them.
          They were very patient and walked us through every step.</p>
        <h4 class="mb-2"> L. McGwire </h4>
        <p class="text-justify mb-2">SOUTH BEND </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">The process has always been great!
          Duane has bought four properties from us so far and has always done everything promised.
          I would and do recommend him to other people.
          I'm always very satisfied and will be using Good Faith Management in the future!</p>
        <h4 class="mb-2"> E. Binco
        </h4>
        <p class="text-justify mb-2">MISHAWAKA
        </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
    </div>
    <div class="row mx-5 mt-4 d-flex justify-content-between">
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">They delivered everything that was promised and everything went as
          smoothly as it possibly could!</p>
        <h4 class="mb-2"> Kim </h4>
        <p class="text-justify mb-2">MICHIANA </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">I would recommend Duane, the process was quick and easy!
        </p>
        <h4 class="mb-2"> M. Eaton
        </h4>
        <p class="text-justify mb-2">ELKHART
        </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
    </div>
    <div class="row mx-5 mt-4  d-flex justify-content-between">
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">I sold two properties to them and they were both smooth transactions.
          They made it quick and easy. I would recommend them and use them again.</p>
        <h4 class="mb-2"> S. Nicodemus </h4>
        <p class="text-justify mb-2">ELKHART </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">The house needed a lot of work.
          I live in North Carolina and the house was passed down to me.
          I contacted the neighbor who recommended Duane. He came out that day to look at it
          and within a week I had the house sold. He is very experienced and knows the process well.</p>
        <h4 class="mb-2"> E. Binco
        </h4>
        <p class="text-justify mb-2">MISHAWAKA
        </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
    </div>
    <div class="row mx-5  mt-4 d-flex justify-content-between">
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">I sold two houses to Duane, and
          I felt the the weight come off my shoulders! It was a great experience.
          He came in, looked at the houses, and did exactly what he said he was going to do!
          I would highly recommend him to others.
          If you want to sell your house, call Duane!</p>
        <h4 class="mb-2"> C. Dean </h4>
        <p class="text-justify mb-2">SOUTH BEND </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">My wife and I had a lot of health problems so we called Duane to buy our house.
          He took a burden from us! The house had a lot of problems but he bought it as is.
          It was a great experience. Duane didn't drag his feet and made the process go way faster than
          I expected. He didn't try to low ball me like others have and gave me what I was asking for.
          I've already been recommending Duane to to others!</p>
        <h4 class="mb-2"> S. Lewis

        </h4>
        <p class="text-justify mb-2">ELKHART
        </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
    </div>
    <div class="row mx-5  mt-4 d-flex justify-content-between">
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">
          I called another investment group and they just kept pushing out the closing date.
          Finally, a couple days prior to closing they backed out, saying they didn't have the funds to close.
          Duane came in and it was just as fast as he said it would be! We closed in a couple of days.
          Will be calling him again.</p>
        <h4 class="mb-2"> R. Hensell
        </h4>
        <p class="text-justify mb-2">SOUTH BEND </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">Duane had patience and was so helpful. We had a lot of title issues
          and he guided us through it all. We appreciated him so much -
          my brother and I were more than pleased.</p>
        <h4 class="mb-2"> C. Hovarter
        </h4>
        <p class="text-justify mb-2">STURGIS
        </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
    </div>
    <div class="row mx-5 mt-4  d-flex justify-content-between">
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">
          My experience was awesome! This was a unique situation and Duane was great at following up.
          He came and looked at my house, and was easy to work with to make a deal.
          Duane is very honest and fair!.</p>
        <h4 class="mb-2"> L. McDonalds </h4>
        <p class="text-justify mb-2">ELKHART </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">Duane made the process very clear and easy to understand.
          I would absolutely recommend him to others.
          He did exactly what he told me he would do.</p>
        <h4 class="mb-2"> R Baldwin </h4>
        <p class="text-justify mb-2">ELKHART
        </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
    </div>
    <div class="row mx-5 mt-4  d-flex justify-content-between">
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">E
          It was fantastic working with Duane to sell my house!
          I live in Kentucky and he did everything over the phone for me.
          He's very experienced and makes selling a house easy.
          He also gave me exactly what I was asking for the property.</p>
        <h4 class="mb-2"> G. Hampton </h4>
        <p class="text-justify mb-2">SOUTH BEND </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">It was very quick, everything went great. Within a week, closing was done!
          I've already recommended him to others!</p>
        <h4 class="mb-2"> D. Ernsberger </h4>
        <p class="text-justify mb-2">ELKHART
        </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>
    </div>
    <div class="row mx-5 mt-4  d-flex justify-content-between">
      <div class="col-md-5 review-col pl-5">
        <div class="text-secondary mb-4">
          <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <p class="mb-2 p-review">E

          He's extremely pleasant to work with and the process went quickly.
          It was satisfactory on both sides of the deal. Duane did everything that he promised he would.
          I've already told friends about him and will continue to do so.
        </p>
        <h4 class="mb-2"> C. Johnson          </h4>
        <p class="text-justify mb-2">SOUTH BEND </p>
        <div class="text-warning mb-4">
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- review section ends-->



<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="row ">
            <div class="col-md-4 text-right">
              <img src="../assets/images/logo1.png" class="footer-img" alt="logo">
            </div>
            <div class="col-md-8 text-left pl-2 footer-heading">
              <h1 class="text-capitalize footer-heading">good faith</h1>
              <p class="">management</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div id="" class="form-offer  py-3 wow bounceInUp" data-wow-duration="5s" data-wow-delay="1s">

                <form class="" [formGroup]="offerForm" (ngSubmit)="onSubmit()">
                  <div class="row justify-content-between">
                    <div class="col-md-6 ">
                      <div class="form-group  py-2">
                        <input type="text" formControlName="name" class="form-control " id="name" placeholder="NAME"
                          [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required" class="text-danger"> Name is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group  py-2">
                        <input type="tel" formControlName="phone" class="form-control " id="phone" placeholder="PHONE"
                          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                          <div *ngIf="f.phone.errors.required" class="text-danger"> phone is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="form-groupm mt-2 mb-3">
                      <input type="text" formControlName="address" class="form-control " id="address"
                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }" placeholder="address">
                      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required" class="text-danger"> address is required</div>
                      </div>
                    </div>
                    <div class="form-group mb-2">
                      <input type="text" formControlName="city" class="form-control " id="city"
                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }" placeholder="City">
                      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required" class="text-danger"> city is required</div>
                      </div>
                    </div>
                  
                  <div class="py-2">
                    <button class="btn-offer btn btn-link btn-block btn-lg " (click)="newPage()">
                      Get my cash offer
      
                    </button>
      
                    <!-- <a class=" btn-offer btn btn-link btn-block btn-lg wow bounceInDown " href="#"
                         data-wow-duration="2s"
                          data-wow-delay="16s">
                          
                        </a> -->
                  </div>
      
                </form>
      
              </div>
        </div>
      </div>
  
      <hr class="text-white mt-5 bg-secondary">
      <p class="small text-right text-white pt-5 mb-5">Copyright 2018 © All rights Reserved. Design by
        namrata sid korgaonkar</p>
    </div>
  </footer>