<!-- <h2>Register</h2> -->
<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group mx-1 py-2">
    <input type="text" formControlName="name" class="form-control " id="name" placeholder="NAME"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required" class="text-danger"> Name is required</div>
    </div>
  </div>
  <div class="form-group mx-1 py-2">
    <input type="text" formControlName="firstName" class="form-control " id="firstName" placeholder="firstName"
      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required" class="text-danger"> firstName is required</div>
    </div>
  </div>
  <div class="form-group mx-1 py-2">
    <input type="text" formControlName="lastName" class="form-control " id="lastName" placeholder="lastName"
      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required" class="text-danger"> lastName is required</div>
    </div>
  </div>
  <div class="form-group mx-1 py-2">
    <input type="text" formControlName="email" id="email" placeholder="Email Address" class="form-control "
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="username" class="form-control" placeholder="Username"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="password" formControlName="password" placeholder="Password" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Register</button>
    <img *ngIf="loading"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
  </div>
</form> -->




<section id="register">


  <div class="container-fluid">
    <div class="img-register">

      <div class="row mt-3">

        <div class="col-md-12">

          <div class="d-flex justify-content-start ml-5 h-100">
            <div class="card">
              <div class="card-header">
                <h3>Sign UP</h3>
                <div class="d-flex justify-content-end social_icon">
                  <span><i class="fab fa-facebook-square" title="login with facebook"></i></span>
                  <span><i class="fab fa-google-plus-square" title="login with google"></i></span>
                  <span><i class="fab fa-twitter-square" title="login with twitter"></i></span>
                </div>
              </div>
              <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row justify-content-between">

                        <div class="col-md-5">
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="username"> -->
                    <input type="text" formControlName="name" class="form-control " id="name" placeholder="NAME"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required" class="text-danger"> Name is required</div>
                    </div>

                  </div>
                  </div>
                  <div class="col-md-6">

                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="username"> -->
                    <select class="browser-default custom-select"
                    formControlName="role" class="form-control " id="role" placeholder="Role"
                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                    <option value="" disabled selected>Choose Role</option>

                      <option value="User">User</option>
                      <option value="Admin">Admin</option>
                    </select>"
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required" class="text-danger"> Role is required</div>
                    </div>

                  </div>
                  </div>
                  </div>
                  <div class="row justify-content-between">

                    <div class="col-md-5">
                      <div class="input-group form-group my-0">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                        </div>
                        <!-- <input type="password" class="form-control" placeholder="password"> -->
                        <input type="text" formControlName="city" class="form-control " id="city"
                          placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                          <div *ngIf="f.city.errors.required" class="text-danger"> city is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">

                      <div class="input-group form-group my-0">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                        </div>
                        <!-- <input type="password" class="form-control" placeholder="password"> -->
                        <input type="text" formControlName="contact" class="form-control " id="contact"
                          placeholder="contact" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }">
                        <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                          <div *ngIf="f.contact.errors.required" class="text-danger"> contact is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope-open-text"></i></span>
                    </div>
                    <!-- <input type="password" class="form-control" placeholder="password"> -->
                    <input type="text" formControlName="email" id="email" placeholder="Email Address"
                      class="form-control " [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="username"> -->
                    <input type="text" formControlName="username" class="form-control" placeholder="username"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>

                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <!-- <input type="password" class="form-control" placeholder="password"> -->
                    <input type="password" formControlName="password" class="form-control" placeholder="password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                  <div class="row align-items-center remember">
                    <input type="checkbox">Remember Me
                  </div>
                  <div class="form-group  float-right">
                    <button [disabled]="loading" class="btn login_btn mb-2">Sign Up</button>
                    <br>
                    <img *ngIf="loading" class="pl-2"
                      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a routerLink="/login" class="btn cancel btn-link">Cancel</a>
                  </div>
                  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                  <!-- <input type="submit" value="Login" class="btn float-right login_btn"> -->

                </form>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-center links mt-1 text-warning">
                  Already User?<a [routerLink]="['/login']" class="text-warning">Sign IN</a>
                </div>
                <!-- <div class="d-flex justify-content-center text-warning">
                  <a href="#" class="text-white">Forgot your password?</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
